footer {
  background-color: var(--BLACK);
  padding-top: 4.8rem;
  padding-bottom: 5.5rem;

  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 4rem;
    border-bottom: 1px solid #282828;

    .left {
      width: 100%;
      max-width: 60rem;

      p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 155.3%;
        color: var(--GRAY-09);
        margin-top: 2.2rem;
      }
    }

    .right {
      width: 100%;
      max-width: 27rem;

      span {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 155.3%;
        text-transform: uppercase;
        color: var(--WHITE);
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5rem;

        li {
          &:not(:last-child) {
            border-right: 1px solid var(--GRAY-09);
            padding-right: 1.6rem;
          }

          a {
            position: relative;
            font-size: 1.5rem;
            font-weight: 400;
            color: var(--GRAY-09);
            transition: all 0.3s ease;

            &:hover {
              color: var(--WHITE);
            }
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 4rem;

    p {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 155.3%;
      color: #5c5c5c;
    }

    span {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 155.3%;
      color: #5c5c5c;

      a {
        color: var(--GRAY-09);
        transition: all 0.3s ease;

        &:hover {
          color: var(--WHITE);
        }
      }
    }
  }

  @media (max-width: 991px) {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .top {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 3rem;
      gap: 4rem;

      .left {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
          font-size: 1.3rem;
          text-align: center;
        }
      }

      .right {
        text-align: center;
        max-width: 100%;

        span {
          font-size: 1.6rem;
        }

        ul {
          justify-content: center;

          li {
            &:not(:last-child) {
              margin-right: 1.6rem;
            }

            a {
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    .bottom {
      padding-top: 3rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.8rem;

      p {
        font-size: 1.3rem;
      }

      span {
        font-size: 1.3rem;

        a {
          font-size: 1.3rem;
        }
      }
    }
  }
}
